<div class="navbar">
	<div class="container submenu">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>	
			</button>
		</div>
		<div class="btn-group collapse" id="bs-example-navbar-collapse-2">
			
				<button class="btn btn-link mybtn dropdown-toggle" type="button" id="aboutus" data-toggle="dropdown">About US <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="aboutus">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">About Us1</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">About Us2</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">About Us3</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">About Us4</a></li>
				
				</ul>
		</div>
		
		<div class="btn-group">
			
				<button class="btn btn-link mybtn dropdown-toggle" type="button" id="academics" data-toggle="dropdown">Academics<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="academics">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">academics</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">academics</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">academics</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">academics</a></li>
				
				</ul>
		</div>
		
		
		<div class="btn-group">
			
				<button class="btn btn-link mybtn dropdown-toggle" type="button" id="admision" data-toggle="dropdown">Admision<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="admision">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">admision</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">admision</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">admision</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">admision</a></li>
				
				</ul>
		</div>
		
		
		<div class="btn-group">
			
				<button class="btn btn-link mybtn dropdown-toggle" type="button" id="research" data-toggle="dropdown">Research<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="research">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">research</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">research</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">research</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">research</a></li>
				
				</ul>
		</div>
		
		
		<div class="btn-group">
			
				<button class="btn btn-link mybtn dropdown-toggle" type="button" id="support" data-toggle="dropdown">Support<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="support">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">support</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">support</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">support</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#/aboutus">support</a></li>
				
				</ul>
		</div>
		
		
	</div>


</div>
